body {
    margin: 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-family : SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    background-color: #f7f7f7;
    
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2020/07/22/09/11/frog-5428516_1280.jpg');
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.button-containers {
    margin-top: 20px;
}

.button-containers button {
    font-size: 2rem;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    background-color: #2edf71;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button-containers button:hover {
    background-color: #2edf72c2;
}

h1 {
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

h2 {
    margin-top: 20px;
    color: #333;
    font-size: 1.5rem;
}

h3 {
    color: #333;
    font-size: 2rem;
    margin-top: 20px;
}

#result {
    font-size: 2.5rem;
    margin-top: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: scaleResult 0.3s ease;
}

@keyframes scaleResult {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
